__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

.env
.env.prod
.env.local
*.sqlite3

/staticfiles/
/backups/
/static/css/app.css
/bin/tailwindcss

.pytest_cache/
.coverage
htmlcov/

.idea/
.vscode/
.DS_Store
